input[type='date'],
input[type='text'],
input[type='number'],
select {
    background-color: white;
    border: 4px solid #ebf3f8;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 11pt;
    outline: none;
    padding: 12px 12px;
}

input[type='date']:focus,
input[type='text']:focus,
input[type='number']:focus {
    border-color: #f1520a;
}

.modal-rodape-botoes {
    display: flex;
    flex-flow: row;
    padding-top: 40px;
}

.rotulo-input {
    font-size: 11pt;
    padding: 10px 0;
}
