/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus,
.close:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    justify-content: center;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
    animation: pop 0.25s ease-in-out;
}
@keyframes pop {
    0% {
        opacity: 0;
      }
    50%  {
      opacity: 1;
    }
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 20px;
}
